@font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

:root{
    --bg-color: #0f0f0f ;
    --main-color: #76b8e3 ;
    --secendry-color :#e28ea2;
    
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}


body{
  font-family: Vazirmatn;
  background-color: var(--bg-color);
}

header{
  height: 150px;
  width: 100px;
}
div{
  display: block;
}
.navbar{
  position: absolute;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}
.navbar a{
  color: rgb(241, 241, 241);
}
.navbar a:hover{
  color: var(--secendry-color);
}
.navbar .logo{
  color: var(--main-color);
  font-size: 2em;
  font-weight: 900;
}

.navbar .nav-links ul{
  display: flex;
  font-size: 1.2em;
}


.navbar .nav-links ul li{
  margin: 0 25px;
}

.navbar .nav-links ul li.active a{
  color: var(--secendry-color);
  font-weight: 900;
}

.navbar .nav-links ul li.active a:hover{
  color: var(--main-color);
  font-weight: 900;
}
.navbar .menu-hamburger{
  display: none;
  width: 50px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.mobile-menu{
  margin-right: 0 ;
}

h1{
  color: var(--main-color);
  font-size: 40px;
  font-weight: 900;
}
h4{
  color: var(--main-color);
  font-size: 25px;
  font-weight: 800;
}
h6{
  color: var(--main-color);
  font-size: 18px;
  font-weight: 500;
}
.header-animation {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding: 0 10px;
  background-size: 20px 20px , 20px 20px , 10px 10px , 10px 10px;
  border-radius: 30px;
}
.home-animation h1{
  padding: 0 5px;
    box-sizing: border-box;
}
.home-animation h4{
  padding: 0 5px;
  box-sizing: border-box;
  margin-top: 7 px;
}
.home-animation h6{
  padding: 0 5px;
    box-sizing: border-box;
    margin-top: 13px;
}

.neon-btn, input[type="submit"] {
  background: transparent;
  width: min(263px,100%);
  display: block;
  border: 2px solid var(--main-color);
  font-size: 17px;
  color: var(--main-color);
  cursor: pointer;
  margin: 13px auto auto;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 3px var(--main-color);
  text-shadow: 0 0 5px var(--main-color);
  font-weight: 800;
}
.neon-btn a, input[type="submit"] {
  text-decoration: none;
  color: var(--main-color);
  padding: 10px;
  display: block;
}

.neon-btn a:hover, input[type="submit"] {
  text-decoration: none;
  color: var(--bg-color);
  background-color: var(--main-color);
  padding: 10px;
  display: block;
  border-radius: 5px;
  text-shadow: 0 0 5px var(--bg-color);
  box-shadow: 0 0 3px var(--main-color);
}


@media screen and (max-width : 900px){
  .navbar{
    padding: 0;
  }
  
  .navbar .logo{
  position: absolute;
  top: 50px;
  right: 50px;
  }
  .navbar .menu-hamburger{
    display: block;
  }
  .nav-links{
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.425);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -100%;
    transition: all 0.5s ease;
  }
  .nav-links.mobile-menu{
    margin-right: 0;
  }
  .nav-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .nav-links ul li {
    margin: 12px 0;
    font-size: 1.5em;
  }
}