{% extends 'base.html' %}
{% block header %}
    <title> مدیریت پروژه ها</title>
{% endblock %}

{% block body %}

    <section >
        <table>
        <h1 >مدیریت پروژه ها</h1>
            <tr>
                <th>عکس</th>
                <th>اسم</th>
                <th>توضیحات</th>
                <th>فعال</th>
                <th>ویرایش</th>
            </tr>
            {% for e in experiences %}
                <tr>
                    <td><img style="height: 200px;" src="/static/covers/experience/{{e.id}}.jpg"> </td>
                    <td>{{ e.name | truncate(50) }}</td>
                    <td>{{e.description|truncate(30)}}</td>
                    <td>{{ "Yes" if  e.active == 1 else "No" }}</td>
                    <td><a href="/admin/dashboard/edit-experience/{{e.id}}"> ویرایش </a></td> 
                </tr>
            {% endfor %}
        </table>
    </section>
    <section >
        <h1>اضافه کردن پروژه جدید</h1>
        <form action="#" method="post" enctype="multipart/form-data" >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label >عکس پروژه :<input style="border: none;" type="file" name="cover" > </label>
            <input  type="text" name="name" placeholder="نام پروژه ">
            <textarea name="description" placeholder=" توضیحات " ></textarea>
            <label>فعال: <input type="checkbox" value="1" name="active"></label>
            <input  type="submit" value="ثبت">
        </form>
    </section>
{% endblock %}