{% extends 'base.html' %}
{% block header %}
    <title>Broad Cast Home</title>
{% endblock %}
{% block body %}
{% include 'parts/header.html' %}
    <section class="header-animation">
        <div style="text-align: right ;">
            <h1 class="home-animation"> خانه برودکست ایران اینجاست ...</h1>
            <h4 class="home-animation">از شروع تا پایان کنار شما هستیم</h4>
            <h6 class="home-animation">با افتخار با بیش از 25 سال تجربه در این حرفه</h6>
            <div class="neon-btn"style="width: 180px;margin-right: 5px;">
                <a href="#" title="از اینجا شروع کن" >از اینجا شروع کن ...</a>
            </div> 
        </div>
        <div style="min-width: 300px ;">
            <img src="/static/default/1703613325941.png" style="max-width: 570px;width: 100%;">
        </div>
    </section>
    <section class="link-section">
        <a href="/" title="خانه برادکست ایران" class="active">صفحه اصلی</a>
        <a href="/courses" title=" دوره های آموزشی" class="nonactive">دوره های آموزشی</a>
        <a href="/products" title="محصولات برادکست" class="nonactive">محصولات برادکست</a>
        <a href="/news" title="اخبار برادکست" class="noneactive">اخبار</a>
        <a href="/expriences" title="تجربه ها" class="noneactive" >تجربه ها</a>
    </section>
    <div class="hr-root">
        <div class="hr-border">
        </div>
        <div class="hr-margin">
            <h4>
                دوره های آموزشی
            </h4>
        </div>
        
            <div class="hr-more">
                <a href="/courses" title="دوره های آموزشی برودکست">همه دوره ها</a>
            </div>
    </div>
    <section id="courses" class="course-box">
        {% for c in courses %}
            <article class="course-box"></article>
        {% endfor %}
    </section>
{% endblock %}