{% extends 'base.html' %}
{% block header %}
    <title>خانه برودکست</title>
{% endblock %}
{% block body %}
{% include 'parts/header.html' %}
{% include 'parts/header-animation.html' %}
    <section class="link-section">
        <a href="/" title="خانه برودکست ایران" class="active">صفحه اصلی</a>
        <a href="/courses" title=" دوره های آموزشی" class="nonactive">دوره های آموزشی</a>
        <a href="/expriences" title="تجربه ها" class="nonactive">تجربه ها </a>
        <a href="/news" title="اخبار " class="noneactive">اخبار</a>
    </section>
    <div class="hr-root">
        <div class="hr-border">
        </div>
        <div class="hr-margin">
            <h4>
                دوره های آموزشی
            </h4>
        </div>
            <div class="hr-more">
                <a href="/courses" title="دوره های آموزشی برودکست">همه دوره ها</a>
            </div>
    </div>
    <section  class="courses-box" id="courses">
        {% for c in courses %}
            {% include 'parts/course.html' %}
        {% endfor %}
    </section>
    <div class="hr-root">
        <div class="hr-border">
        </div>
        <div class="hr-margin">
            <h4>
                تجربه ها
            </h4>
        </div>
            <div class="hr-more">
                <a href="/expriences" title="دوره های آموزشی برودکست">همه تجربه ها</a>
            </div>
    </div>
{% endblock %}