<footer>
    <section class="footer">
        <section style="max-width:350px;">
            <h3>لینک‌های مفید</h3>
            <section class="link-list" style="max-width: 250px;min-width: 210px;padding-right: 5px;">
                <a href="/courses" title="آموزش های برودکست">دوره های آموزشی</a>
                <a href="/experiences" title="تجربه های بروکست">تجربه ها</a>
                <a href="/blog" title="مقاله های آموزشی برودکست">مقاله‌های آموزشی</a>
            </section>
        </section>
        <section style="max-width: 350px">
            <h3>تماس با ما</h3>
            <section class="flex linkbox" style="max-width: 250px;">
                <div class="inline flex-box header-link" style="width: 170px;direction: ltr;margin-bottom: 0;">
                    <a href="https://wa.me/+989123456789" style="text-decoration: none;color:black;" target="_blank" title="پشتیبانی در واتساپ">
                        <div class="flex2" style="padding: 5px">
                            <img src="/static/default/Wh.png" class="icon" alt="پشتیبانی در واتساپ">
                            <h4>0912 34 56 789</h4>
                        </div>
                    </a>
                </div>
    
                <div class="inline flex-box header-link" style="width: 170px;direction: ltr;margin-bottom: 0;">
                    <a href="https://wa.me/+989214269672" style="text-decoration: none;color:black;" target="_blank" title="پشتیبانی در واتساپ">
                        <div class="flex2" style="padding: 5px">
                            <img src="/static/default/Wh.png" class="icon" alt="پشتیبانی در واتساپ">
                            <h4>0921 98 76 543</h4>
                        </div>
                    </a>
                </div>
    
                <div class="inline flex-box header-link" style="width: 170px;direction: ltr;margin-bottom: 0;">
                    <a href="https://telegram.me/broadcast_support" style="text-decoration: none;color:black;" target="_blank" title="پشتیبانی در تلگرام">
                        <div class="flex2" style="padding: 5px">
                            <img src="/static/default/tel.png" class="icon" alt="پشتیبانی در تلگرام">
                            <h4>0912 34 56 789</h4>
                        </div>
                    </a>
                </div>
    
    
                <div class="inline flex-box header-link" style="width: 170px;direction: ltr;margin-bottom: 0;">
                    <a href="https://telegram.me/broadcast_support2" style="text-decoration: none;color:black;" target="_blank" title="پشتیبانی در تلگرام">
                        <div class="flex2" style="padding: 5px">
                            <img src="/static/default/tel.png" class="icon" alt="پشتیبانی در تلگرام">
                            <h4>0921 98 76 543</h4>
                        </div>
                    </a>
                </div>
    
    
            </section>
        </section>
        <section style="max-width: 350px">
            <h3>شبکه های اجتماعی</h3>
            <section class="flex linkbox" style="max-width: 250px;">


                <div class="inline flex-box header-link">
                    <a href="https://instagram.com/broadcast_home" style="text-decoration: none;color:black;" target="_blank" title="اینستاگرام خانه برودکست">
                        <div class="flex2" style="padding: 5px">
                            <img src="/static/default/instagram.png" class="icon" alt="اینستاگرام خانه برودکست">
                            <h4>اینستاگرام</h4>
                        </div>
                    </a>
                </div>
                <div class="inline flex-box header-link">
                    <a href="https://www.youtube.com/@broadcast_home" style="text-decoration: none;color:black;" target="_blank" title="خانه برودکست در یوتیوب">
                        <div class="flex2">
                            <img src="/static/default/youtube.png" class="icon" alt="خانه برودکست در یوتیوب">
                            <h4>یوتیوب</h4>
                        </div>
                    </a>
                </div>
                <div class="inline flex-box header-link">
                    <a href="#" style="text-decoration: none;color:black;" target="_blank" title="تلگرام خانه برودکست">
                        <div class="flex2">
                            <img src="/static/default/tel.png" class="icon" alt="تلگرام خانه برودکست">
                            <h4>تلگرام</h4>
                        </div>
                    </a>
                </div>
            </section>
        </section>
    </section>
    <hr style="margin: 10px auto;max-width:1200px;">
    <section>
        <div style="display: flex;flex-flow: wrap;align-items: center;justify-content: center;max-width: 620px ;margin: auto;">
            <img class="logo-footer" src="/static/default/5.png" alt="خانه برودکست">
            <p style="max-width: 500px;font-size: 16px;text-align: justify;padding: 5px 5px;">
                "با بیش از 20 سال تجربه در حوزه برودکست و آموزش‌های مرتبط، من از افتخار می‌برم که دوره‌های آموزشی خود را با شما به اشتراک بگذارم. از مباحث مقدماتی تا مفاهیم پیشرفته، ما تضمین می‌کنیم که تمامی دوره‌هایمان توسط صاحبان تجربه و متخصصان ارائه شده و به شما کمک می‌کنند تا به تخصص و دانش خود افزوده و به دنبال رشد و پیشرفت حرفه‌ای خود باشید. با ما همراه باشید و دنیای برودکست را به همراه هم کشف کنیم."
            </p>
        </div>
    </section>
    <section style="text-align: center;margin-top: 20px;background: var(--bgmp-color);padding: 10px;">
        <h6 style="color: var(--mainlop-color);">کلیه حقوق مادی و معنوی برای خانه برودکست محفوظ است</h6>
    </section>
    <div class="whatsapp-contact" style="bottom: 90px;">
        <a href="https://t.me/broadcast_support" title="تماس با خانه برودکست" target="_blank">
            <img src="/static/default/tel.png">
        </a>
    </div>
    <span class="whatsapp-tooltip">مشاوره رایگان</span>
    <div class="whatsapp-contact">
        <a href="https://wa.me/+9123456789" title="تماس با خانه برودکست" target="_blank">
            <img src="/static/default/Wh.png">
        </a>
    </div>
</footer>