<nav class="navbar">
    <a href="/" class="logo">برادکست ایران</a>
    <div class="nav-links">
        <ul>
            {% if request.endpoint.startswith("admin") %}
            <li><a href="#">مقاله ها</a></li>
            <li><a href="#">دوره ها</a></li>
            <li><a href="#">محصول ها</a></li>
            <li><a href="#">تجربه ها</a></li>
            {%else%}
            <li class="active"><a href="#">خانه</a></li>
            <li><a href="#">دوره ها</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="#">ثبت نام/ورود</a></li>
            {%endif%}
            <li><a href="#">پنل کاربری</a></li>
            <li><a href="#">مقاله ها</a></li>
            <li><a href="#">پشتیبانی</a></li>
        {%endif%}
        </ul>
    </div>
    <img src="/static/logo/menu.png" alt="menu hamburger" class="menu-hamburger">
</nav>
<script>
    const menuHamburger = document.querySelector(".menu-hamburger")
    const navLinks = document.querySelector(".nav-links")

    menuHamburger.addEventListener('click',()=>{
    navLinks.classList.toggle('mobile-menu')
    })
</script>
<header>
</header>