{% extends 'base.html' %}
{% block header %}
    <title> تغییر رمز عبور </title>
{% endblock %}
{% block body %}
    <section >
        <h1>تغییر رمز عبور</h1>
        <form action="#" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="password" name="old_password" placeholder="رمز  عبور قدیمی" value="{{ current_user.old_password }}">
            <input type="password" name="new_password1" placeholder="رمز  عبور جدید" value="{{ current_user.new_password1 }}">
            <input type="password" name="new_password2" placeholder="تکرار رمز عبور جدید" value="{{ current_user.new_password2 }}">
            <input type="submit"  value=" ثبت تغییرات  ">
        </form>
    </section>
    <!--<a href="/user/logout" class="logout">  خروج از حساب کاربری <img src="{{ url_for('static' , filename='themes-image/logout.png') }}"></a>-->
{% endblock %}