{% extends 'base.html' %}
{% block header %}
    <title>ورود /ثبت نام کاربران </title>
{% endblock %}

{% block body %}
    <section>
        <div>
            <h1>ورود</h1>  
            <form action="#" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="text" name="username" placeholder="نام کاربری">
                <input type="password" name="password" placeholder="رمز عبور">
                <input type="submit" value="ورود" >
            </form>
        </div>  
        <div >
            <h1>ثبت نام</h1>
            <form action="#" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="register" value="1">
                <input type="text" name="username" placeholder="نام کاربری">
                <input type="password" name="password" placeholder="رمز عبور">
                <input type="password" name="password2" placeholder="تکرار رمز عبور">
                <input type="submit"  value=" ثبت نام ">
            </form>
         </div>
    </section>
{% endblock %}